<h1>Recipe scaler</h1>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ recipeViewModel.name }}</h3>
  </div>

  <div class="panel-body">
    
    <h4>Ingredients</h4>
    <table class="table">
      <colgroup>
        <col style="width: 150px" />
        <col style="width: 100px" />
        <col style="width: 150px" />
        <col />
      </colgroup>
      <thead>
        <tr>
          <th>Scaled</th>
          <th>Scaling</th>
          <th>Original measure</th>
          <th>Ingredient</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ingredient of recipeViewModel.ingredients; let index = index">
          <td>
            <div class="input-group">
              <input
                id="{{ recipeViewModel.nameId }}-ingredient-{{ index }}"
                type="number"
                class="form-control"
                [(ngModel)]="ingredient.scaledMeasure"
                (ngModelChange)="updateScaledValues(ingredient)"
                min="0"
                />
              <span class="input-group-addon">{{ ingredient.unitOfMeasure }}</span>
            </div>
          </td>
          <td>
            <div class="ingredient-list-item">
              {{ ingredient.scaling | percent }}
            </div>
          </td>
          <td>
            <div class="ingredient-list-item">
              {{ ingredient.measure }} {{ ingredient.unitOfMeasure }}
            </div>
          </td>
          <td>
            <div class="ingredient-list-item">
              <div>{{ ingredient.name }}</div>
              <div class="ingredient-description">{{ ingredient.description }}</div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="recipeViewModel.recipeNumberOfServes > 0" class="form-inline">
      <div class="form-group">
          <label for="{{ recipeViewModel.nameId }}-serves">Serves:</label>
          <input
            id="{{ recipeViewModel.nameId }}-serves"
            type="number"
            class="form-control"
            [(ngModel)]="recipeViewModel.desiredNumberOfServes"
            (ngModelChange)="updateServes(recipeViewModel.desiredNumberOfServes)"
            min="0"
            />
      </div>
    </div>

    <div [hidden]="!recipeViewModel.description || recipeViewModel.description.length == 0">
      <hr />
      <h4>Description</h4>
      <div [innerHTML]="recipeViewModel.description"></div>
    </div>

  </div>

  <div class="panel-footer">
    <pre>{{ location | json }}</pre>
    <pre>{{ location._platformStrategy._platformLocation._location.origin }}</pre>
    <pre>{{ location.prepareExternalUrl(location.path()) }}</pre>
  </div>
</div>






