/* Angular Material Prebuilt Theme (indigo-pink) */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* Base styles */
body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 16px;
}

.ingredient-list-item {
    padding: 6px 0;
}